.calculator {
  max-width: 600px;
  margin: auto;
  padding: 5px;
}

.calc-result-table {
  width: 600px;
  border-collapse: separate;
  border-spacing: 5px;
}
.calc-result-table tr,
.calc-result-table td,
.calc-result-table th {
  border: 1px solid black;
  padding: 5px;
}

.calc-input-table {
  border: 3px solid darkgrey;
  width: 600px;
  border-collapse: separate;
  border-spacing: 5px;
}

.calc-input-table tr,
.calc-input-table td,
.calc-input-table th {
  padding: 5px;
}

.input-header {
  text-align: center;
  color: darkslateblue;
}

.calc-result-table th {
  text-align: center;
  color: brown;
}

.colgroup-result {
  width: 50%;
}

.middle-relative {
  position: relative;
  left: 60px;
}

.pre-wrap-div {
  white-space: pre-wrap;
}

.collapse-button {
  max-height: 200px;
  overflow: auto;
  padding: 5px;
}
.select-runes {
  width: 80px;
}
